<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net46" />
  <package id="Fody" version="3.0.3" targetFramework="net46" developmentDependency="true" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net46" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="2.5.5" targetFramework="net46" developmentDependency="true" />
  <package id="SharpVectors" version="1.0" targetFramework="net46" />
</packages>